__pycache__/
*.py[cod]
*$py.class

instance/
.webassets-cache

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

.env
pybot.db
src/data/counters_data.py
